body {
    background-color: #fff;
    margin: 0;
}
header {
    text-align: center;
}
a {
    text-decoration: none;
    color: #151618;
}
/* cyrillic */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300 800;
    font-stretch: 100%;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/opensans/v40/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSumu1aB.woff2) format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
.overlay::before {
    content: '';
    z-index: 10;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 50%);
  }
  .gradient {
	display: inline-block;
	position: relative;    
	line-height: 0;
    margin: 0;
}
.gradient:after {
	content: "";
	display: block;    
	width: 100%;
	height: 50%;    
	position: absolute;
	bottom: 0;      
	left: 0;   
	background: transparent;
	background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
	/*opacity: 0.8;*/
}
.topMenu {
    position: relative;
    width: 1200px;
    height: 142px;
    top: 30px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.logo {
    position: absolute;
    top: o;
    left: 0;
}
.navText {
    width: 582px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
}
.navIco {
    width: 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Bay {
    width: 58px;
    display: flex;
    justify-content: space-between;

}